.container {
  display: flex;
  height: 100vh;
  &__right {
    width: 500px;
    border-left: 1px solid #ccc;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }
  &__left {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
  }
  @media (max-width: 750px) {
    &__left {
      display: none;
    }
    &__right {
      width: 100%;
      border-left: none;
    }
  }
}
