.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  &__right {
    border-left: 1px solid #ccc;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }
  &__left {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
  }
  @media (max-width: 750px) {
    &__left {
      width: 90%;
      border-left: none;
    }
    &__right {
      display: none;
    }
  }
}
